.login-page {
    width: 100vw;
    height: 100vh;
    background-color:lightseagreen;
    color: #FCFCFC;
}

.login-wrapper {
    position: absolute;
    width: 80%;
    max-width: 414px;
    left: 0px;
    right: 0px;
    top: 60px;
    margin: 0 auto;
}

.login-title {
    width: 134px;
    height: 93px;
    color: #FCFCFC;
}

.login-subtitle {
    width: 226px;
    height: 42px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FCFCFC;
    margin: 10% 0;
}

.login-input {
    width: 100%;
    height: 30px;
    margin-bottom: 2%;
    font-size: 12px;
    color: #000000;
}

.login-error {
    background-color: rgb(252, 200, 200);
}

.login-error-text {
    color: darkslateblue;
    font-weight: 600;
}

.login-details {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding: 2% 0;
}

.disable {
    cursor: not-allowed;
}